body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 10%;

}

.total{
    background-color: cadetblue;
    font-weight: bold;
    color: cornsilk;
    padding: 20px;
    border: 3px solid rgb(55, 96, 97);

    height: fit-content;
    width: fit-content;
}